<% provide(:title, "Help") %>

    <h1>Help</h1>
<p>Find me in app/views/static_page/help.html.erb</p>
<p>get help on the Ruby on Rails Tutorial at the 
    <a href="https://www.railstutorial.org/help">Rails Tutorial help page</a> to get help on this sample app, see the 
    <a href="https://www.railstutorial.org/book">Ruby on rails Tutorial book</a>
</p>
